# =========================
# Object files
# =========================
*.o
*.obj
*.d

# =========================
# Precompiled headers
# =========================
*.gch
*.pch

# =========================
# Libraries
# =========================
*.a
*.lib
*.so
*.so.*
*.dylib
*.dll
*.la
*.lai

# =========================
# Executables
# =========================
*.exe
*.out
*.app

# =========================
# Build directories
# =========================
build/
Build/
build-*/
cmake-build-*/
out/

# =========================
# CMake
# =========================
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt
compile_commands.json

# =========================
# Debug / logs
# =========================
*.pdb
*.log
*.tmp
*.bak
*.swp
*.dwo

# =========================
# IDE
# =========================
.vscode/
.idea/
*.code-workspace

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# vcpkg
# =========================
vcpkg_installed/

# =========================
# Tests / cache
# =========================
Testing/
.cache/

# =========================
# Profiling / benchmarks
# =========================
perf.data
*.trace
*.prof
